@import "./font-awesome.scss";
@import "./colors";
@import "../imports/components/phoenix/phoenix.scss";
@import "../imports/components/navbar/navbar.scss";
@import "../imports/components/login/login.scss";
@import "../imports/components/register/register.scss";
@import "../imports/components/campaigns/campaigns.scss";
@import "../imports/components/campaign/campaign.scss";
@import "../imports/components/conversations/conversations.scss";
@import "../imports/components/conversation/conversation.scss";
@import "../imports/components/newcampaign/selectg/selectg.scss";
@import "../imports/components/newcampaign/sendt/sendt.scss";
@import "../imports/components/insights/insights.scss";
@import "../imports/components/footer/footer.scss";
@import "../imports/components/tags/tags.scss";


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 50px; // push main content under fixed navbar
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

// why the fuck does bootstrap put rounded corners on everything
* {
  border-radius: 0 !important;
}

input, textarea, select, a, button, form { outline: none !important; }

button {
  border: 0px !important;
  &:hover {
  border: 0px;
  }
}